<!-- enctype="multipart/form-data" -->
<h3>Upload a txt file to register multiple users</h3>

<form id="uploadForm" enctype="multipart/form-data" action="/file/upload" method="post">
	    <% if(flash && flash.err) {%>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error){ %>
					<% if (flash.err[error].constructor === Array){
						flash.err[error].forEach(function(obj){ %>
							<li><%- obj.message %></li>
						<% }) 
					} else { %>
						<li><%- flash.err[error].message %></li>
					<% } %>
				<% }) %>
			</ul>
		<% } %>
    	<input type="file" name="csv" />
    	<input type="submit" value="submit"/>
    	<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>