<link rel="stylesheet" href="../styles/menu.css">
<link rel="stylesheet" href="../styles/login.css">

<section class="main-content">
  <div id="guts">
    <center> <div class = "top-bar"> </div> </center>
    <div id = "title">
      <h1 class = "pos">
        <center> Login </center>
      </h1>
    </div>
    <center> <div class = "middle-bar"> </div> </center>



<div class="form-container">
	<form action="/session/create" method="POST" class="form-signin">
	
		<% if (flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error){ %>
					<li><%- flash.err[error].message %></li>
				<% }) %>
			</ul>

		<% } %>
		<input type="text" class="form-control" placeholder="Ticket Number" name="ticketNumber">
		<input type="password" class="form-control" placeholder="Password" name="password">
		<input type="submit" class="btn btn-lg btn-primary btn-black" value="Sign-in" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>

		<a href="/password/reset">Forgot password?</a>
	</form>
</div>



</div>
</section>
