<link rel="stylesheet" href="/styles/tablespage.css">

<script>
  function addToTable() {
      alert("hello");
      var randNum = Math.random();
      var node_li = document.createElement("LI");
      var textNode = document.createTextNode(randNum.toString());

      node_li.appendChild(textNode);

      document.getElementById("table_1").appendChild(node_li);
  }

  function tablePost(path, params, method) {
    method = method || "post";

    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
       }
    }

    document.body.appendChild(form);
    form.submit();
  }
</script>

<div class="tables_section">
  <h1> Table Selection </h1>

  <table class="tables">
    <tr>
    <% for (i = 1; i <= 6; i++) { %>
        <td id="table_<%= i %>" >
          Table <%= i %>
          <br></br>
          <button onclick="tablePost('/tables/addUser', {tableName:<%= i %>})" type="submit" color:black class="btn_addTable"> Add </button>
          <ol id="table1_names">
          </ol>
        </td>
    <%} %>
    </tr>
  </table>
</div>
