<form action= "/RiddleDB/create" method= "POST" class= "form-signin">
 <h2 class= "form-signin-heading">Riddle Database</h2>



 <div class= "control-group">
 <input type= "text" class= "form-control" placeholder= "Riddle Question" name= "riddle_Q">
 </div>

 <div class= "control-group">
 <input type= "text" class= "form-control" placeholder= "Riddle Answers" name= "riddle_A">
 </div>


 <input type= "submit" class= "btn btn-lg btn-primary btn-block" value= "Submit"/>
 <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

</form>
