<div class="container" style="color:#FFF; padding-top:50px">
	<div class="row-fluid">
		<div class="col-md-8 col-md-offset-2">
			<h3><%= email.title %></h3><a class="btn btn-primary" href="/email/edit/<%= email.id %>">Edit</a>
			<div>
				<%- email.html %>
			</div>
		</div>
	</div>
</div>