 <!-- Background Animations -->
  <div id="footprints">

  </div>

  <canvas id="background-animation">

  </canvas>

  <div id="canvas-debug">

  </div>

  <!--   Background switching pictures -->
  <div class="outer">
    <div class="middle">
      <div class="inner">


        <div id="wrapper">
          <div id="leftcolumn">
            <div class="col-top" id="trans1">
            </div>
            <div class="col-bottom" id="pic1">
            </div>
          </div>
          <div id="rightcolumn">
            <div class="col-top" id="pic2">
            </div>
            <div class="col-bottom" id="trans2">
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>




  <div class="page" id="page-wrap">
    


    <!--TEXT--> 
    <section id="main-content">
   <div id="guts">  
     <center> <div class = "top-bar"> </div> </center>
      <div id = "title">
        <h1 class = "pos">
        <center> Event Information </center>
        </h1>
      </div>
      <center> <div class = "middle-bar"> </div> </center>

      <div class="main-content">
         <p class="info-font"><span>What:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ECE Semi-Formal Dinner Dance</p>

        <p class="info-font"><span>Where:</span> &nbsp;&nbsp;Chateau Le Jardin 
        </p>

        <p class="info-font"><span>When:</span> &nbsp;&nbsp;&nbsp;
          Friday. February 13, 2015, 7 p.m. - 1 a.m.
        </p>


        <p class="info-font">*** Buy Tickets at ECE Club Office @SF B640***
        </p>

      </div>

     
 
</div>  
</section>


  </div>
