<!--
<div class="page">

  <div class="main-back">
    <div class="front">
      <div class="front-back">
        <div>
          <p class="title">ECE DINNER DANCE</p>
        </div>
        <div>
          <p class="feature">
            <a href="#">Open Bar</a>  |
            <a href="#">One Round Trip</a>  |
            <a href="#">Murder Mystery</a>  |
            <a href="#">Drinking</a>
          </p>
        </div>
        <div class="L">
          <p>Chateau Le Jardin</p>
        </div>
        <div class="T">
          <p>February 13th 2015 </p>
        </div>
        <div class="joinus">
          <a href="#">JOIN US</a>
        </div>
      </div>
    </div>
  </div>

</div> -->
