<!-- Default home page -->
<link rel="stylesheet" href="/styles/homepage.css">
<!-- Background Animations -->
<div id="footprints">

</div>

<canvas id="background-animation">

</canvas>

<div id="canvas-debug">

</div>




<!--   Background switching pictures -->
<div class="outer">
  <div class="middle">
    <div class="inner">


      <div id="wrapper">
        <div id="leftcolumn">
          <div class="col-top" id="trans1">
          </div>
          <div class="col-bottom" id="pic1">
          </div>
        </div>
        <div id="rightcolumn">
          <div class="col-top" id="pic2">
          </div>
          <div class="col-bottom" id="trans2">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




<div class="page">

  <div class="main-back">
    <div class="front">
      <div class="front-back">
        <div>
          <p class="title">ECE DINNER DANCE</p>
        </div>
        <div>
          <p class="feature">
            <a href="#">Open Bar</a>  |
            <a href="#">One Round Trip</a>  |
            <a href="#">Murder Mystery</a>  |
            <a href="#">Drinking</a>
          </p>
        </div>
        <div class="L">
          <p>Chateau Le Jardin</p>
        </div>
        <div class="T">
          <p>February 13th 2015 </p>
        </div>
        <div class="joinus">
          <a href="#">JOIN US</a>
        </div>
      </div>
    </div>
  </div>

</div>
