
<link rel="stylesheet" href="styles/homepage.css">


<div class="page">

  <div class="main-back">
    <div class="front">
      <div class="front-back">
        <div>
          <p class="title">ECE DINNER DANCE</p>
        </div>
        <div>
          <p class="feature">
            <a href="#">Early Bird: $60</a>  |
            <a href="#">Drinking: $65</a>  |
            <a href="#">Non-Drinking: $55</a>
           
          </p>
        </div>
        <div class="L">
          <p>Chateau Le Jardin</p>
        </div>
        <div class="T">
          <p>February 13th 2015 </p>
        </div>
        <div class="joinus">
          <a href="/eventinfo/">JOIN US</a>
        </div>
      </div>
    </div>
  </div>

</div>
