<link rel="stylesheet" href="/styles/homepage.css">
<link rel="stylesheet" href="/styles/eventinfo.css">
<link rel="stylesheet" href="/styles/menu.css">

<section class="main-content">
  <div id="guts">
    <center> <div class = "top-bar"> </div> </center>
    <div id = "title">
      <h1 class = "pos">
        <center> Menu </center>
      </h1>
    </div>
    <center> <div class = "middle-bar"> </div> </center>

    <center>
      <div class="second-main-content">
        <p class="info-font">Menu pending!</p>

        <center> <div class = "bottom-bar middle-bar"> </div> </center>
      </div>
    </center>





  </div>
</section>
