<link rel="stylesheet" href="/styles/homepage.css">
<link rel="stylesheet" href="/styles/eventinfo.css">

<section class="main-content">
  <div id="guts">
    <center> <div class = "top-bar"> </div> </center>
    <div id = "title">
      <h1 class = "pos">
        <center> Menu </center>
      </h1>
    </div>
    <center> <div class = "middle-bar"> </div> </center>

    <center>
      <div class="second-main-content">
        <p class="info-font">Canapes & Hot Hors D'oeuvres</p>

        <p class="info-font">Butternut Squash Soup</p>

        <p class="info-font">Chicken Parmiagiana</p>

        <p class="info-font">House Roast Potatoes</p>

        <p class="info-font">Seasonal Vegetables</p>

        <p class="info-font">California Salad</p>

        <p class="info-font">Waffle Bar</p>

        <p class="info-font"><strong>Open Bar</strong></p>

      </div>
    </center>

    <center> <div class = "bottom-bar middle-bar"> </div> </center>



  </div>
</section>
