#reg-submit{
	font-size: 10px;
    background: #c58a2c;
	color: black;
	width: 200px;
	margin: auto;
}

#submit-container{
	width: 200px;
	height: auto;
	margin: auto;
	margin-bottom: 80px;
	font-family: "Marion", serif;
    font-size: 12px;
    color: #000;
}


.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	left: 0;
	right: 0;
	padding-left: 100px;
	margin-top: 20px;

}

.title{
	color: white;
	padding-bottom: 30px;
}



.form-control{
	width: 300px;
}

