#reg-submit{
	font-size: 10px;
    background: #c58a2c;
	color: black;
	width: 200px;
	margin: auto;
}

#submit-container{
	width: 200px;
	height: auto;
	margin: auto;
	margin-bottom: 80px;
}

.changepassword{
	margin: 0 auto;
	text-align: center;

}

.title{
	color: white;
	padding-bottom: 30px;
}

.cpdiv{
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;


}