.top-bar {
	content: url("../images/top-bar.png");
	width: 365px;
	height: 40px;
	margin: zero auto;
	margin-bottom: 5px;
	margin-top: 80px;
	position: static;
	margin-left: 40px;
}

.middle-bar {
	content: url("../images/middle-bar.png");
	height: 50px;
	width: 457px;
	margin: zero auto;
	margin-top: 0px;
	position: static;
}


.main-content{
	position: absolute;
	width: 400px;
	margin-left: -200px;
	left: 50%;

}
.second-main-content{
	position: absolute;
	width: 450px;
	margin-left: -200px;
	left: 50%;

}

.form-signin{
	color: white;
	width: 200px;
	margin: auto;
	font-family: marion;
	font-size: 1em;
	margin-top: 100px;
}


.info-font{
	font-size: 1.2em;
	color:#fff;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: -30px;
}

.info-font span{
	color: #c68930;
}
