.top-bar {
  content: url("../images/top-bar.png");
  width: 365px;
  height: 40px;
  margin: zero auto;
  margin-bottom: 5px;
  margin-top: 80px;
  position: static;
}

.middle-bar {
  content: url("../images/middle-bar.png");
  height: 50px;
  width: 457px;
  margin: zero auto;
  margin-top: 0px;
  margin-left: 20px;
  position: static;
}

h1.pos {
  font-family: "Marion", serif;
  font-size: 30px;
  color: #ffffff;
  position: static;
  margin-top: 0px;
  margin-bottom: -15px;
}

input{
  margin-top: 3px;
}

.btn{
  margin-top: 15px;
  background: black;
  width: 200px;
  margin-bottom: 10px;
}


.form-container {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: -90px;
  padding-left: 30px;
}

.form-signin{
  color: white;
  width: 200px;
  margin: auto;
  font-family: marion;
  font-size: 1em;
  margin-top: 100px;
}
