.bottom-bar{
  margin-top: 400px;

  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.second-main-content{
  border: solid gray 3px;
  background: rgba(0, 0, 0, 0.7);
  width: 405px;
  opacity: 0.8;
}

.info-font{
  padding: 0px;
  margin: 19px;
  font-size: 1.4em;
}
