form{
	margin-top: -20px;
	padding: 0 auto;
}

table{
	padding-left: 20px;
	margin: 0 auto;
}

form .title{
	
	color: #c68930;
	font-size: 10px;
	padding: 12px;
	padding-left: 0px;
}

form #titletest{
	padding-left: 26px;
}


form .notice{

	color: #c68930;
	font-size: 10px;
}

form .info {

	font-size: 12px;
	color: white;
}

form .radiobox .radio{
	padding-left: 20px;
}


form .age{
	margin-top: 2px;
	margin-bottom: 2px;
}

tr{
	padding: 2px;
}

#reg-submit{
	font-size: 10px;
    background: #c58a2c;
	color: black;
	width: 200px;
	margin: auto;
}

#submit-container{
	width: 200px;
	margin: auto;

}