/* * { margin: 0; padding: 0; overflow:hidden;} */

@font-face {
  font-family: marion;
  font-size: 1em;
  src: url(../fonts/ufonts.com_marion.ttf);
}

a:link{
  color:white;
  text-decoration: none;
}

a:visited{
  color:white;
  text-decoration: none;
}

a:hover{
  color:#c68930;
  text-decoration: none;

}


html, body {
  color: #000;

  width:  100%;
  height: 100%;
  margin: 0px;

  background-color: black;
}


#footprints {
  z-index: 4;
}


/******** SWITCHING BACKGROUND **********/
.backgroundswitch-outer {
  display: table;
  position: fixed;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
}

.backgroundswitch-middle {
  display: table-cell;
  vertical-align: middle;
}

.backgroundswitch-inner {
  margin-left: auto;
  margin-right: auto;
  width: /*whatever width you want*/;
}


#backgroundswitch-wrapper {
  width: 100%;
  margin: 0 auto;
  z-index: -2;
}

#backgroundswitch-leftcolumn, #backgroundswitch-rightcolumn {
  /*border: 1px solid white;*/
  float: left;
  min-height: 450px;
  color: white;
  z-index: -2;
}

#backgroundswitch-leftcolumn {
  width: 50%;
  background-color: #111;
  margin-top: -100vh;
}

#backgroundswitch-rightcolumn {
  width: 50%;
  background-color: #111;
}

.backgroundswitch-col-top, .backgroundswitch-col-bottom{
  margin: none;
  padding: none;
  width:100%;
  height:100vh;
  z-index: -2;
}

#trans1, #pic1{
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("../images/background1-left.png");
}

#trans2, #pic2{
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("../images/background1-right.png");
}

/* ANIMATION KEYFRAMES */
.animatable {
  -webkit-animation: myfirst 0.5s ease-in-out; /* Chrome, Safari, Opera */
  animation: myfirst 0.5s ease-in-out;
}

.animatablereverse {
  -webkit-animation: myfirst 0.5s reverse ease-in-out; /* Chrome, Safari, Opera */
  animation: myfirst 0.5s reverse ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  0% {margin-top: -100vh;}
  100% {margin-top: 0vh;}
}

/* Standard syntax */
@keyframes myfirst {
  0% {margin-top: -100vh;}
  100% {margin-top: 0vh;}
}


/********* CSS FOOTPRINTS **********/
.footprint{
  position: absolute;

  /*   top: 0;
  left: 0; */
  width: 25px;
  height: 25px;

  background: url("../images/footprint.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  z-index: 10;


  -webkit-animation: footprintanimation 2s linear forwards; /* Chrome, Safari, Opera */
  animation: footprintanimation 2s linear forwards;
}

.footprintleft{
  position: absolute;

  /*   top: 0;
  left: 0; */
  width: 25px;
  height: 25px;

  background: url("../images/footprintleft.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  z-index: 10;


  -webkit-animation: footprintanimation 2s linear forwards; /* Chrome, Safari, Opera */
  animation: footprintanimation 2s linear forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes footprintanimation {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Standard syntax */
@keyframes footprintanimation {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
