@font-face {
    font-family: marion;
    font-size: 1em;
    src: url(../fonts/ufonts.com_marion.ttf);
}

a:link{
	color:white;
	text-decoration: none;
}

a:visited{
	color:white;
	text-decoration: none;
}

a:hover{
	color:red;
	text-decoration: none;

}

li{
	font-size: 1em;
}

body{
	font-size:1em;
}

.page{
	font-family: marion;
	width:100%;
	height:100vh;
	overflow: hidden;
	font-size: 1em;
  position: absolute;
}

.front{
	text-align: center;
	padding-top: 120px;
	background-size: 100% auto;
	height: 281px;
	width: 400px;
	margin: 0 auto;
}

.front-back{
	background-image: url(../images/front.png);
	background-size: 100% auto;
	height: 281px;
	width: 400px;
}

.title{
	color: white;
	font-size: 3em;
    padding-bottom: 25px;
    float: none;
	padding-top: 45px;
}

.feature{
	color: white;
	font-size: 1.3em;
}

.L{
	font-size: 2.9em;
    color: white;
    margin-bottom: 0px;
}
.T{
	color: white;
	font-size: 2.9em;
}

.joinus{
	height: 40px;
	width: 140px;
	border-color:white;
	border-style: solid;
	border-width:2px;
	margin:auto;
	text-align:center;
	color:white;
	font-size: 2em;
    margin-top: 80px;
    padding: 5px 0 0 0;
}


.price{
	color: white;
	list-style-type: none;
	font-size: 1.5em;
	padding: 100px 0 0 1300px;
}

footer{
	height: 100px;
	width: 300px;
	background-size:100% auto;
	position: fixed;
	background-image: url(../images/footer.png);
	bottom: 0;
    right: 0;
}
