h1 {
  text-align: center;
}

.tables{
  display: block;
}

td {
  border: 1px solid white;
  width: 400px;
  height: 400px;
  vertical-align: top;
  display: inline-block;
}

.btn_addTable {
  width:3em;
  color: black;
}
