/*
h1 {
  text-align: center;
}

.tables{
  display: block;
}

td {
  border: 1px solid white;
  width: 400px;
  height: 400px;
  vertical-align: top;
  display: inline-block;
}

.btn_addTable {
  width:3em;
  color: black;
}
*/

.tables_section{
  position: relative;
  width: 70vw;
  color: white;
}

.cardholder{
  position: absolute;
  width: 75vw;
  margin-left: 50vw;
  margin-top: 60px;
  left: -50%;
}

.card {
  background: rgba(1, 1, 1, 0.6);
  border: solid #AAA 2px;
  padding:20px;
  padding-top:0px;
  margin:15px;
  margin-left: 0px;
  margin-right: 30px;
  overflow:hidden;
}

.card h1 {
  margin:0px;
  padding:10px;
  padding-bottom:0px;
}

.card p {
  margin:0px;
  padding:10px;
}

.card button {
  color: #111;
}

.cardholder .card {
  float:left;
  width:44%;
  height:357px;
}

@media screen and (max-width: 750px) {
  .cardholder .card {
    float:left;
    width:90%;
    height:270px;
  }
}

.rightColumn,
.leftColumn {
  display:inline-block;
  width:49%;
  vertical-align:top;
}


html
{
  /* killing 300ms touch delay in IE */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox
{
  cursor: pointer;
  position: fixed;
  z-index: 10000;

  -ms-touch-action: none;
  touch-action: none;

  -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
  box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
  border-radius: 50%;
}

#imagelightbox-loading
{
  width: 2.5em; /* 40 */
  height: 2.5em; /* 40 */
  background-color: #444;
  background-color: rgba( 0, 0, 0, .5 );
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em; /* 10 */
  margin: -1.25em 0 0 -1.25em; /* 20 */

  -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
  box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}

#imagelightbox-loading div
{
  width: 1.25em; /* 20 */
  height: 1.25em; /* 20 */
  background-color: #fff;

  -webkit-animation: imagelightbox-loading .5s ease infinite;
  animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading
{
  from { opacity: .5; -webkit-transform: scale( .75 ); }
  50%  { opacity: 1;  -webkit-transform: scale( 1 ); }
  to   { opacity: .5; -webkit-transform: scale( .75 ); }
}
    
@keyframes imagelightbox-loading
{
  from { opacity: .5; transform: scale( .75 ); }
  50%  { opacity: 1;  transform: scale( 1 ); }
  to   { opacity: .5; transform: scale( .75 ); }
}

/* OVERLAY */

#imagelightbox-overlay
{
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .9 );
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
  -webkit-animation: fade-in .25s linear;
  animation: fade-in .25s linear;
}
  
@-webkit-keyframes fade-in
{
  from  { opacity: 0; }
  to    { opacity: 1; }
}
@keyframes fade-in
{
  from  { opacity: 0; }
  to    { opacity: 1; }
}

  