<div class = "container">
  <div class = "jumbotron">
    <h1>activityOverlord</h1>

    <h2>Riddles...</h2>
    <a href="/riddles/new_riddles" class = "btn btn-lg btn-success">Submit answers here!</a>
  </div>
</div>

//routing always follows controller name
