* { margin: 0; padding: 0; overflow:hidden;}

html, body {
  color: #DDDDDD;

  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
  text-align:center;
  font-family: 'Molengo', Arial, serif;
  /*background: url('../resources/oldpaper.jpg');*/
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:3;
  pointer-events:none;
}

#main-content, #header-wrapper, #content-wrapper{
  z-index:998;
}

h1{
  margin: 100px 100px 100px 100px;
}

/******** HEADER WRAPPER *****************/
#header-wrapper{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: -50px;
  -webkit-transition:background 0.5s, margin-top 0.5s, -webkit-transform 2s;
  transition:background 0.5s, margin-top 0.5s, transform 2s;
}

#header-wrapper:hover{
  background: rgba(0, 0, 0, 0.85);
  margin-top: 0px;
}


/******** SWITCHING BACKGROUND **********/
.outer {
  display: table;
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: /*whatever width you want*/;
}


#wrapper {
  width: 100%;
  margin: 0 auto;
  z-index: -2;
}

#leftcolumn, #rightcolumn {
  /*border: 1px solid white;*/
  float: left;
  min-height: 450px;
  color: white;
  z-index: -2;
}

#leftcolumn {
  width: 50%;
  background-color: #111;
  margin-top: -100vh;
}

#rightcolumn {
  width: 50%;
  background-color: #777;
}

.col-top, .col-bottom{
  margin: none;
  padding: none;
  width:100%;
  height:100vh;
  z-index: -2;
}

#trans1, #pic1{
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("../resources/background1-left.png");
}

#trans2, #pic2{
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("../resources/background1-right.png");
}

/* ANIMATION KEYFRAMES */
#leftcolumn {
  -webkit-animation: myfirst 2s ease-in-out; /* Chrome, Safari, Opera */
  animation: myfirst 2s ease-in-out;
}

#rightcolumn {
  -webkit-animation: myfirst 2s reverse ease-in-out; /* Chrome, Safari, Opera */
  animation: myfirst 2s reverse ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {margin-top: -100vh;}
  to {margin-top: 0vh;}
}

/* Standard syntax */
@keyframes myfirst {
  from {margin-top: -100vh;}
  to {margin-top: 0vh;}
}


/*********CANVAS DEBUG SETTINGS*********/
#canvas-debug{
  color: lightgreen;
  background: rgba(1, 1, 1, 0.7);

  font-family:Monaco;
  font-size:50%;
  text-align:left;

  z-index:999;

  position:absolute;
  margin-top:0;
  margin-left:0;
  border:solid darkgreen 1px;
}
