* { margin: 0; padding: 0;}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
  text-align:center;
  font-family: 'Molengo', Arial, serif;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

h1{
  margin: 100px 100px 100px 100px;
}




/*********CANVAS DEBUG SETTINGS*********/
#canvas-debug{
  color: lightgreen;
  background: rgba(1, 1, 1, 0.7);

  font-family:Monaco;
  font-size:50%;
  text-align:left;

  z-index:999;

  position:absolute;
  margin-top:0;
  margin-left:0;
  border:solid darkgreen 1px;
}
