@font-face {
    font-family: marion;
    font-size: 1em;
    src: url(../fonts/ufonts.com_marion.ttf);
}

a:link{
	color:white;
	text-decoration: none;
}

a:visited{
	color:white;
	text-decoration: none;
}

a:hover{
	color:red;
	text-decoration: none;

}

li{
	font-size: 1em;
}

.page{
	font-family: marion;
	width:100%; 
	height:100vh; 
	overflow: hidden;
	font-size: 1em;
}

.front{
	text-align: center;
	padding-top: 120px;
	background-size: 100% auto;
	height: 367px;
	width: 520px;
	margin: 0 auto;
}

.front-back{
	background-image: url(../images/front.png);
	background-size: 100% auto;
	height: 367px;
	width: 520px;
}

.title{
	color: white;
	font-size: 2.7em;
    padding-bottom: 40px;
    float: none;
	padding-top: 60px;
}

.feature{
	color: white;
	font-size: 1.3em;
}

.L{
	font-size: 3em;
    color: white;
    margin-bottom: 0px;
}
.T{	
	color: white;
	font-size: 2.8em;
}

.joinus{
	height: 50px; 
	width: 250px; 
	border-color:white; 
	border-style: solid; 
	border-width:2px; 
	margin:auto; 
	text-align:center; 
	color:white;
	font-size: 2em;
    margin-top: 100px;
    padding: 5px 0 0 0;
}


.price{
	color: white;
	list-style-type: none;
	font-size: 1.5em;
	padding: 100px 0 0 1300px;
}

footer{
	height: 130px;
	width: 400px;
	background-size:100% auto; 
	position: fixed; 
	background-image: url(../images/footer.png);
	bottom: 0;
    right: 0;
}

#topnav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 50px;
}



.navbar{
	margin-bottom: 0px; 
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */ 
    border-width:0px;
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav{
  display: inline-block;
  clear: both;
  margin: 0 auto;

}

@media screen and (max-width: 480px) {
    .front {
    	height: 210px;
		width: 300px;
		padding-top: 70px;

    }

    .front-back {
    	height: 210px;
		width: 300px;
    }

	.title{
		font-size: 20px;
    	padding-bottom: 20px;
		padding-top: 35px;
	}

	.feature{
		font-size: 3px;
	}

	.L{
		font-size: 20px;
	}
	
	.T{	
		font-size: 10px;
	}
	
	.joinus{
		height: 25px; width: 125px; 		 
		border-width:1px; 
		font-size: 15px;
	    margin-top: 80px;
	    padding:  3px 0 0 0 ;
	}

	footer{
		height: 65px;
		width: 200px;
	}
	
	.price{
		font-size: 8px;
		padding: 200px 0 0 100px;
	}
}

@media screen and (max-width: 768px) {
    
    .front {
		padding-top: 90px;

    }
    .page{
    	font-size:0.7em;
    }

    .joinus{
    	height: 25px; width: 125px; 		 
		border-width:1px; 
		font-size: 15px;
	    padding:  3px 0 0 0 ;
	    margin-top: 30px;

    }
    footer{
		height: 65px;
		width: 200px;
	}

	.price{
		padding: 0px 0 0 450px;
	}



}


@media screen and (min-width: 768px) {

	.navbar-nav{
	float: none;
	clear: both;
	clear: left;
	}

}

