<link rel="stylesheet" href="/styles/menu.css">
<link rel="stylesheet" href="/styles/changepassword.css">

<section class="main-content">
	<div id="guts">
		<center> <div class = "top-bar"> </div> </center>
	    <div id = "title">
	      <h1 class = "pos">
	        <center> Change Password </center>
	      </h1>
	    </div>
	    <center> <div class = "middle-bar"> </div> </center>

		<div class="container">
			<div class="center-block col-md-6 col-md-offset-3 cpdiv">
				<form role="form" action="/password/change" method="POST" class="form-horizontal">

					<% if(flash && flash.err) {%>
						<ul class="alert alert-success">
						<% Object.keys(flash.err).forEach(function(error){ %>
							<li><%- flash.err[error].message %></li>
						<% }) %>
						</ul>
					<% } %>
					<input type="password" class="form-control" placeholder="old password" name="old_password">
					</br>
					<input type="password" class="form-control" placeholder="new password" name="new_password">
					</br>
					<input type="password" class="form-control" placeholder="new password confirmation" name="confirmation">
					<br><br>
				   	<!--  <div id="submit-container">
				      <input id="reg-submit" type="submit" value="Change Password">
				    </div> -->

				    <input type="submit" class="btn btn-lg btn-primary btn-black" value="Change Password" />
					<!-- <input type="submit" class="btn btn-lg btn-primary" value="Change Password"/> -->
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</div>
		</div>
	</div>
</section>
